<!doctype html>
<html>
    <head>
        <title>Dashboard</title>
    </head>

    <body>
        <h2> Your submission was received. <br/><br/> Your form data was:<br/></h2>
        <table border='1'>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Password</th>
                <th>Date of birth</th>
            </tr>
            <tr>
                <td>{{data.email}}</td>
                <td>{{data.firstname}}</td>
                <td>{{data.lastname}}</td>
                <td>{{data.password}}</td>
                <td>{{data.date}}</td>
            </tr>
        </table>
    </body>
</html>
