<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>WEB322 Assignment2</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <header>
            <div id="store_name">
                <h3>
                    Holiday & Home
                </h3>
            </div>

            <div id="search-wrapper">
                <form action="/search" method="POST">   
                  <label for="city">WHERE</label>
                  <select
                      id="city"
                      name="city"
                      type="text"
                      tabindex="1"
                      placeholder="Anywhere"
                  >
                  >
                      <option>Toronto</option>
                      <option>Vaughan</option>
                      <option>Brampton</option>
                      <option>Hamilton</option>
                      <option>London</option>
                      <option>Richmond Hill</option>
                      <option>Kitchener</option>
                      <option>Windsor</option>
                      <option>Mississauga</option>
                      <option>Barrie</option>
                      <option>Guelph</option>
                      <option>Oshawa</option>
                      <option>Waterloo</option>
                  </select>
                  <input id="search" type="submit" name="submit" value="SEARCH" tabindex="2">  
                </form>
            </div>
            <div id="user-options">
              {{#if data.session.login}}
                <div class="loginName">
                    <h3>
                      {{data.session.firstName}}
                    </h3>
                </div>
                 
                <div class="dropdown">
                  <div class="hamburger" onclick="myFunction()">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                  </div>
                  <div id="myDropdown" class="dropdown-content">
                    <a href="/">Home</a>
                    <a href="rooms">View Listing</a>
                    {{#if_eq data.session.userType "admin" }}
                    <a href="/create-listing">Create Listing</a>
                    {{/if_eq}}
                    <a href="logout">Logout</a>
                  </div>
                     
                </div>
                
            </div>
              {{else}} 
                <div class="login">
                    <i class="material-icons" onclick="openForm()">account_circle</i>
                </div>  
              
                <div class="form-popup" id="myForm">
                    <form action="/login-submit" method="POST" class="form-container">
                      <h1>Login</h1>
                  
                      <label for="email"><b>Email</b></label>
                      <input type="email" placeholder="Enter Email" name="email" required>
                  
                      <label for="psw"><b>Password</b></label>
                      <input type="password" placeholder="Enter Password" name="password" required>
                  
                      <button type="submit" class="btn">Login</button>
                      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                  </div> 
                <div class="dropdown">
                    <div class="hamburger" onclick="myFunction()">
                       <div class="bar1"></div>
                       <div class="bar2"></div>
                       <div class="bar3"></div>
                     </div>
                     <div id="myDropdown" class="dropdown-content">
                       <a href="signup">Sign Up</a>
                       <a href="/">Home</a>
                       <a href="rooms">Room Listing</a>
                     </div>
                     
                </div>
              {{/if}}   
            </div>   
        </header>
        <main>
            <section id="details-room">
                <div class="upper-roomdetail">
                  <div id="titleLocation">
                    <h2> <b> {{data.room.roomTitle}} </b></h2>
                    <h4> Location- <u>{{data.room.roomLocation}} </u> </h4>
                  </div>
                  {{#if_eq data.session.userType "admin" }}
                  <div id="editDelete">
                    <form action="/edit-listing-form" method="POST" class="editForm">
                      <input type="hidden" name="room_id" value="{{data.room._id}}">
                      <input type="submit" name="submit" value="Edit Room" tabindex="1">
                    </form>
                    <form action="/delete-listing" method="POST" class="deleteForm">
                      <input type="hidden" name="room_id" value="{{data.room._id}}">
                      <input type="submit" name="submit" value="Delete Room" tabindex="1">
                    </form>
                  </div>
                  {{/if_eq}}
                </div>
                <div class="detail-i-container">
                    <img src="./images/listing/{{data.room.roomImage}}" alt="roomphoto"/>
                </div>
                <div class="lower-roomdetail">
                    <h3> {{data.room.roomDetail}}</h3>
                    <h3> Maximum {{data.room.roomGuest}} Guests</h3>
                    <h3> Price per night CAD {{data.room.roomPrice}} </h3>
                </div>
                <div class="bookingForm"> 
                  <form action="/submit-booking" method= "POST">
                    <div id="b-detail">
                      <h2> Book the room here</h2>
                      <label for="checkin">CHECK-IN</label>
                      <input
                        id="checkin_date"
                        name="checkin_date"
                        type="date"
                        tabindex="1"
                        onchange="calculatePrice({{data.room.roomPrice}})"
                      >
                      <label for="checkout">CHECK-OUT</label>
                      <input
                        id="checkout_date" 
                        name="checkout_date" 
                        type="date" 
                        tabindex="2" 
                        onchange="calculatePrice({{data.room.roomPrice}})"
                      >
                      <input
                        id="room_id" 
                        name="room_id" 
                        type="hidden" 
                        value="{{data.room._id}}"
                      >
                      <input
                        id="user_id" 
                        name="user_id" 
                        type="hidden" 
                        value="{{data.session._id}}"
                      >
                  
                      <label for="guest">NO OF GUESTS</label>
                      <select
                          id="guestNum"
                          name="guestNum"
                          type="number"
                          tabindex="3"
                      >
                      >
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                      >
                      </select>
                      <label for="total-price">Total</label>
                      <input
                        id="total_price"
                        name="total_price"
                        type="number"
                        tabindex="4"
                        readonly
                      >
                    </div>
                    <div class="reserve">
                      <input type="submit" name="submit" value="Book Room" tabindex="5">
                    </div> 
                  </form>
                </div>


            <div id="footer">
                <section id="upper-footer">
                    <div id="email">
                      <a href="mailto:shamimarahman89@gmail.com"><i class="material-icons">email</i> Contact Us</a>
                    </div>
                    <div id="phone">
                      <a href="tel:4164905151"><i class="material-icons">phone</i>Phone</a>
                    </div>
                    <div id="app">
                      <a href="subscribe.html"><i class="material-icons">drafts</i>Subscribe</a>
                    </div>
                  </section>
                <section id="lower-footer">
                    <div id="social-media">
                      <a href="https://twitter.com" target="_blank">
                        <img src="./images/twitter.png" alt="Twitter" width="20" height="20" />
                      </a>
                      <a href="https://facebook.com" target="_blank">
                        <img src="./images/facebook.png" alt="Facebook" width="20" height="20" />
                      </a>
                      <a href="https://instagram.com" target="_blank">
                        <img src="./images/instagram.png" alt="Instagram" width="20" height="20" />
                      </a>
                    </div>
                    <div id="policy">
                      <div>Privacy Policy</div>
                      <div>Terms & Conditions</div>
                      <div>Site Feedback</div>
                    </div>
                    <div id="copy">
                      &copy; Shamima Rahman 2020
                    </div>
                </section>
            </div>
            
        </main>
        <script type="text/javascript" src="index.js"></script>
        
    </body>
</html>